##############################
## sbt / Scala
##############################
target/
project/target/
project/project/
*.class
*.log

##############################
## Metals / Bloop / BSP
##############################
.bloop/
.metals/
.bsp/
metals.sbt

##############################
## IntelliJ
##############################
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store
